<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ToDo List.">
    <meta name="author" content="Chandan Mishra">
    <title>ToDo</title>    
    <link rel="stylesheet" href="public/css/styles.css">
    <link rel="icon" href="public/images/favicon.ico", sizes="16x16">
</head>

<body>